﻿@using Common.Database;
@using BookingApp.Models;
@using Models;
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));
    IEnumerable<class_type> classTypes = Common.Class.getClassTypes(studioID);
}

    <!-- BEGIN CONTAINER -->
<div class="page-container page-content-inner page-container-bg-solid">
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space margin-top-30">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row widget-row">

            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Members</h2>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn blue-steel" href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="border-bottom-right-radius: 3px; border-top-right-radius: 3px;">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="~/Members/Single">
                                        <i class="fa fa-plus"></i> Add Staff
                                    </a>
                                </li>
                                <li>
                                    <a href="/Members/Memberships">
                                        <i class="fa fa-cogs"></i> Memberships
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        @*<div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase">Buttons</span>
                            </div>
                            <div class="tools" id="buttonsbar"> </div>
                        </div>*@
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="membersTable">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Date Joined</th>
                                        <th>Membership</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        IEnumerable<UserModel> users = UserModel.getAll(studioID);

                                        foreach (UserModel user in users)
                                        {
                                            <tr>
                                                <td>@user.Name</td>
                                                <td>@user.Surname</td>
                                                <td>@String.Format("{0:(###) ###-####}", double.Parse(user.ContactNumber))</td>
                                                <td>@user.Email</td>
                                                <td>@user.DateJoined.ToString("dd MMM yy")</td>
                                                <td>xxx</td>
                                                <td><span class="label label-sm label-info"> Edit </span> &nbsp; <span class="label label-sm label-danger"> Delete </span></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT -->
        </div>
<!-- END CONTAINER -->

<script>

    $(document).ready(function () {

        var table = $('#membersTable').DataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy',
                    className: 'btn blue-steel btn-outline'
                }
                , 'excel', 'pdf', 'print'
            ],
            responsive: true,
            lengthChange: false
        });

        //table.buttons().container()
        //    .appendTo($('.col-sm-6:eq(0)', table.table().container()));
    });






    function Delete(userId) {

        var posturl = window.location.protocol + "//" + window.location.host + "/Members/DeleteUser";

        var data = {
            id: userId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });

    }

</script>