﻿@using Models;
@using BookingApp.Models;
@model MembershipModel

@{
    ViewBag.Title = "Memberships";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));

}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Memberships</h2>
                    </div>
                    <div class="actions"> 
                        <a class="btn btn-lg blue hidden-print uppercase print-btn" href="~/Members/List">Back</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments">
                        <div class="portlet-title margin-bottom-20">
                            <div class="caption caption-md font-blue">
                                <span class="caption-subject theme-font bold uppercase">Add New Membership Type</span>
                            </div>
                        </div>
                        <div class="portlet-body overflow-h">
@using (Html.BeginForm("Memberships", "Members", null, FormMethod.Post, new { id="myForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MaxBookings)
    @Html.HiddenFor(m => m.MembershipId)

                            <div class="form-group">
                                <label class="control-label">Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", required = true })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Monthly Fee</label>
                                <div class="input-icon right">
                                    <i class="fa fa-money"></i>
                                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number", required = true })
                                </div>
                            </div>
                            <label class="control-label">Maximum Bookings p/m</label>
                            <div class="row">
                               
                                <div class="col-md-9 col-xs-9">
                                    <div id="slider"></div>
                                </div>
                                <div class="col-md-3 col-xs-3" style="text-align:center">
                                    <p id="slider-value" style="font-size:25px"></p>                                  
                                </div>
                            </div>

                            <hr />
                            <button type="submit" class="btn blue ladda-button" data-style="zoom-out" id="addButton"><span class="ladda-label">Add</span></button>
                            <button type="button" class="btn red btn-outline" style="display:none" id="cancelButton" onclick="clearFields()">Cancel</button>
}
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>

                <div class="col-md-6 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments">
                        <div class="portlet-title margin-bottom-20">
                            <div class="caption caption-md font-blue">
                                <span class="caption-subject theme-font bold uppercase">Current Types</span>
                            </div>
                        </div>
                        <div class="portlet-body overflow-h" id="types">


                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th> Name </th>
                                            <th> Price </th>
                                            <th> Max Bookings </th>
                                            <th>  </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{

                                            foreach (Models.MembershipModel membership in Models.MembershipModel.getMemberships(studioID))
                                            {
                                                <tr>
                                                    <td> @membership.Name </td>
                                                    <td> R @(membership.Price).00 </td>
                                                    <td> @membership.MaxBookings </td>
                                                    
                                                    <td style="min-width:70px">
                                                        <a style="text-decoration:none" href="javascript:updateFields('@(membership.Name)','@(membership.Price)','@(membership.MaxBookings)','@(membership.MembershipId)')"><span class="label label-sm label-warning">  <i class="fa fa-pencil"></i>  </span></a> &nbsp;
                                                        <a style="text-decoration:none" href="javascript:Delete('@(membership.MembershipId)')"><span class="label label-sm label-danger">  <i class="fa fa-trash"></i>  </span></a>
                                                    </td>
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>



        </div>
    </div>
</div>


<script>

    $('#myForm').submit(function () {
        loading();
        this.submit();
        return false;
    });


    function loading() {
        var l = Ladda.create($('#addButton')[0]);
        l.start();
    }

    $(document).ready(function () {

        $('#Price').val("");

        var slider = document.getElementById('slider');
        noUiSlider.create(slider, {
            start: [10],
            step: 1,
            tooltips: wNumb({ decimals: 0 }),
            format: wNumb({
                decimals: 0
            }),
            behaviour: 'tap',
            connect: 'lower',
            range: {
                'min': 1,
                'max': 80
            }
        });

        var rangeSliderValueElement = document.getElementById('slider-value');

        slider.noUiSlider.on('update', function (values, handle) {
            rangeSliderValueElement.innerHTML = values[handle];
        });

        slider.noUiSlider.on('change', function () {
            $('#MaxBookings').val(slider.noUiSlider.get());
        });

        $('#MaxBookings').val(slider.noUiSlider.get());

        if ("@Model.Success" == "True") {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr.success('', 'Success!');

            $('#Price').val("");
            $('#MaxBookings').val("");
            $('#Name').val("");
        }

    });


    function updateFields(name, fee, bookings, id) {

        $('#Price').val(fee);
        $('#Name').val(name);
        $('#MembershipId').val(id);
        $('#MaxBookings').val(bookings);
        slider.noUiSlider.set(bookings)

        $("#addButton").html('Update');
        $('#cancelButton').show();

    }

    function clearFields() {

        $('#Price').val("");
        $('#Name').val("");
        $('#MembershipId').val(0);
        $('#MaxBookings').val(10);
        slider.noUiSlider.set(10)

        $("#addButton").html('Add');
        $('#cancelButton').hide();

    }

    function Delete(id) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Members/DeleteMembershipType";

        var data = {
            id: id
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#types').load(document.URL + ' #types');
            },
            async: true,
            processData: false
        });
    }

</script>