﻿@using Models;
@model UserModel
@{
    ViewBag.Title = "Add Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Add Staff Member</h2>
                    </div>
                    <div class="actions">
                        <a href="~/Members/List" class="btn btn-circle blue-steel btn-outline">
                            <i class="fa fa-chevron-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
@using (Html.BeginForm("Single", "Members", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", type = "text", required = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Email Address</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", type = "tel", required = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Username</label>
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "text", required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", required = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Submit</button>
                            </div>
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

        $(document).ready(function () {
            debugger;
            if ("@Model.RecentlyAdded" == "True") {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "2000",
                    "hideDuration": "2000",
                    "timeOut": "5000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.success('', 'Success!');
                $('#Name').val("");
                $('#Surname').val("");
                $('#Email').val("");
                $('#ContactNumber').val("");
                $('#UserName').val("");
                $('#Password').val("");
            }
      });


</script>