﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Studios</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                        <div class="portlet-title margin-bottom-20">
                            <div class="caption caption-md font-blue">
                                <span class="caption-subject theme-font bold uppercase">Add New</span>
                            </div>
                        </div>
                        <div class="portlet-body overflow-h" id="portletBody">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                        <div class="portlet-body overflow-h" id="portletBody">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>


        </div>
    </div>
</div>

