﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse" style="padding-bottom:0px">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Achievements</h2>
                    </div>
                </div>
                <div class="portlet-body">
                    <p style="color:#9a9a9a">" Unlock achievements by checking-in to classes at your facility "</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align:center">
                                    <img src="@Url.Content("~/Content/img/achievements/newborn.png")" style="width:200%; max-width:100px; position:inherit" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top:2%">
                                    <h4 style="padding-left:20px">Newborn</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4" style="padding-top:2%">
                                    <h4>0 Classes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align:center">
                                    <img src="@Url.Content("~/Content/img/achievements/ice.png")" style="width:200%; max-width:100px; position:inherit" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top:2%">
                                    <h4 style="padding-left:20px">Ice-Breaker</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4" style="padding-top:2%">
                                    <h4>5 Classes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align:center">
                                    <img src="@Url.Content("~/Content/img/achievements/team.png")" style="width:200%; max-width:100px; position:inherit" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top:2%">
                                    <h4 style="padding-left:20px">Team Player</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4" style="padding-top:2%">
                                    <h4>15 Classes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align:center">
                                    <img src="@Url.Content("~/Content/img/achievements/rat.png")" style="width:200%; max-width:100px; position:inherit" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top:2%">
                                    <h4 style="padding-left:20px">Rat Pack</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4" style="padding-top:2%">
                                    <h4>50 Classes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align:center">
                                    <img src="@Url.Content("~/Content/img/achievements/dark.png")" style="width:200%; max-width:100px; position:inherit" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top:2%">
                                    <h4 style="padding-left:20px">Dark Knight</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4" style="padding-top:2%">
                                    <h4>75 Classes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-2" style="text-align:center">
                                    <img src="@Url.Content("~/Content/img/achievements/warrior.png")" style="width:200%; max-width:100px; position:inherit" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6" style="padding-top:2%">
                                    <h4 style="padding-left:20px">Warrior</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4" style="padding-top:2%">
                                    <h4>100 Classes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

