﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- BEGIN CONTAINER -->
<div class="page-container page-content-inner page-container-bg-solid">
    <!-- BEGIN BREADCRUMBS -->
    <!-- Remove "hide" class from "breadcrumbs hide" DIV and "margin-top-30" class from below "container-fluid container-lf-space margin-top-30" DIV in order to use the page breadcrumbs -->
    <div class="breadcrumbs hide">
        <div class="container-fluid">
            <h2 class="breadcrumbs-title">Dashboard</h2>
            <ol class="breadcrumbs-list">
                <li>
                    <a class="breadcrumbs-item-link" href="#">Home</a>
                </li>
                <li>
                    <a class="breadcrumbs-item-link" href="#">Features</a>
                </li>
                <li>
                    <a class="breadcrumbs-item-link" href="#">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space margin-top-30">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row widget-row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget widget-comments">
                    <div class="portlet-title margin-bottom-20">
                        <div class="caption caption-md font-red-sunglo">
                            <span class="caption-subject theme-font bold uppercase">Quick Email</span>
                        </div>
                    </div>
                    <div class="portlet-body overflow-h">
                        <input type="text" placeholder="To" class="form-control margin-bottom-20">
                        <input type="text" placeholder="Subject" class="form-control margin-bottom-20">
                        <textarea placeholder="Message" class="form-control margin-bottom-20" rows="5"></textarea>
                        <button class="btn red-sunglo pull-right" type="button">Submit</button>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
