﻿@using Models;
@model LoginModel

@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<head>
    <script>
        addToHomescreen({
            skipFirstVisit: true,
            maxDisplayCount: 1
        });
    </script>
</head>

    <div class="user-login-5">
        <div class="row bs-reset">


            <div style="display: table;position: absolute;height: 100%;width: 100%;">
                <div style="display: table-cell;vertical-align: middle;">
                    <div style="margin-left: auto;margin-right: auto; ">

                        <div class="col-md-12 col-xs-12 login-container bs-reset">
                            <div style="text-align:center">
                                <img src="@Url.Content("~/Content/img/logo.png")" style="max-width:80%; position:inherit" />
                            </div>
                            <div class="login-content">

                                @using (Html.BeginForm("Login", "Authentication", null, FormMethod.Post, new { @class = "login-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.RememberMe)
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button>
                                        <span>Enter any username and password. </span>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username Or Email", @class = "form-control form-control-solid placeholder-no-fix form-group", type = "text", autocomplete = "off", name = "username", required = true })
                                        </div>
                                        <div class="col-xs-6">
                                            @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "form-control form-control-solid placeholder-no-fix form-group", type = "password", autocomplete = "off", name = "password", required = true })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8">
                                            <label class="rememberme mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" name="remember" id="remCheck" value="1" onchange="updateRememberMe()" /> Remember me
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 text-right">
                                            <button class="btn blue" type="submit" style="float:right">Sign In</button>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align:center">
                                        <br /><br />
                                        <div class="forgot-password">
                                            <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                                        </div>
                                    </div>
                                }


                                <!-- BEGIN FORGOT PASSWORD FORM -->
                                <form class="forget-form" action="javascript:;" method="post">
                                    <h3>Forgot Password ?</h3>
                                    <p> Enter your e-mail address below to reset your password. </p>
                                    <div class="form-group">
                                        <input id="emailInput" class="form-control form-control-solid placeholder-no-fix form-group" type="email" autocomplete="off" placeholder="Email" name="email" required />
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" id="back-btn" class="btn blue btn-outline">Back</button>
                                        <button type="submit" class="btn blue pull-right" onclick="submitEmail()">Submit</button>
                                    </div>
                                </form>
                                <!-- END FORGOT PASSWORD FORM -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>













            @*<div class="col-md-6 bs-reset">
                <div class="login-bg"> </div>
            </div>*@
        </div>
    </div>

  <script>

        $(document).ready(function () {
   
            if ("@Model.RecentlySignedUp" == "True") {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "2000",
                    "hideDuration": "2000",
                    "timeOut": "5000",
                    "extendedTimeOut": "2000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.success('Login to start your booking experience', 'Successful!');
            }

            else if ("@Model.Failed" == "True") {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.error('Incorrect Username and Password combination. Please try again.', 'Sorry...');
                $('#Username').val("");
                $('#Password').val("");
        }
      });


      function updateRememberMe() {
          if ($('#remCheck')[0].checked) {
              $('#RememberMe').val(true);
          }
          else {
              $('#RememberMe').val(false);
          }
      }

      function submitEmail() {
          debugger;
          if ($('#emailInput')[0].checkValidity()) {
              swal("Email Sent!", "Follow the link in the email to reset your password", "success");
              $('#emailInput').val("");
          }
      }

    </script>

