﻿@using Models;
@model UserModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <img class="login-logo login-6" src="@Url.Content("~/Content/img/login-invert.png")" />
            <div class="login-content" style="margin-top:30%">
                <h1>Marshal Register</h1>
                <h3>@Model.StudioName</h3>


                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
@using (Html.BeginForm("Register", "Authentication", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Guid)
    @Html.HiddenFor(m => m.SuperUser)
    @Html.HiddenFor(m => m.StudioId)

                        <div class="form-body">
                            <br /><br />
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:left">First Name</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:left">Last Name</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", type = "text", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:left">Email Address</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-envelope"></i>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = true })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:left">Contact #</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-phone"></i>
                                        @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", type = "tel", required = true })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:left">Username</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "text", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="text-align:left">Password</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", required = true })
                                </div>
                            </div>
                        </div>
                    
                    <button type="submit" class="btn blue">Submit</button>
                    }
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg"> </div>
        </div>
    </div>
</div>



