﻿@using BookingApp.Models;

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DateTime today = DateTime.Today;
    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Bookings</h2>
                    </div>
                </div>
            </div>

            <div id="datepaginator_phone" class="phone-only"> </div>
            <div id="datepaginator_large" class="ipad-up" style="text-align:center"> </div>
            <br />
            <div id="data">
                <div style="text-align:center">
                    <p>Please wait while classes load...</p>
                    <img src="~/Content/img/giphy.gif" alt="loading" style="width:80px;height:80px;">
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var phoneOptions = {
            startDate: '@(today.ToString("yyyy-MM-dd"))',
            endDate: '@(today.AddDays(3).ToString("yyyy-MM-dd"))',
            showCalendar: false,
            offDays: 'Sun',
            size: 'small',
            itemWidth: 50,
            onSelectedDateChanged: function (event, date) {

                $("#data").load("RefreshBookings", { date: date._i, studioId: @studioID });
            }
        }

        var largeOptions = {
            startDate: '@(today.ToString("yyyy-MM-dd"))',
            endDate: '@(today.AddDays(3).ToString("yyyy-MM-dd"))',
            showCalendar: false,
            offDays: 'Sun',
            size: 'normal',
            width: 600,
            itemWidth: 70,
            onSelectedDateChanged: function (event, date) {

                $("#data").load("RefreshBookings", { date: date._i, studioId: @studioID });
            }
        }

        $('#datepaginator_phone').datepaginator(phoneOptions);
        $('#datepaginator_large').datepaginator(largeOptions);

        $("#data").load("RefreshBookings", { date: "@(today.ToString("yyyy-MM-dd"))", studioId: @studioID });
    });


</script>

