﻿@using Common.Database;
@using BookingApp.Models;
@using Models;
@model ClassTypeModel
@{
    ViewBag.Title = "Class Types";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));
    IEnumerable<class_type> types = Common.Class.getClassTypes(studioID);

}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Class Types</h2>
                    </div>
                    <div class="actions">
                        <a href="~/Classes/Forecast" class="btn btn-circle blue-steel btn-outline">
                            <i class="fa fa-chevron-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus font-blue"></i>
                            <span class="caption-subject font-blue bold uppercase">Add New Class Type</span>
                        </div>
                        <div class="actions" data-toggle="tooltip" title="Help">
                            <a class="btn btn-circle btn-icon-only btn-default" href="#AddClassModal" data-toggle="modal">
                                <i class="fa fa-info"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
@using (Html.BeginForm("ClassTypes", "Class", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ClassTypeId)

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Enter text", @class = "form-control", type = "text", required = true })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Maxmimum Number of Bookings</label>
                                    @Html.TextBoxFor(m => m.MaxBookings, new { placeholder = "0", @class = "form-control", type = "number", required = true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn blue" id="addButton">Add</button>
                                <button type="button" class="btn blue btn-outline" id="cancelButton" style="display:none" onclick="cancel()">Cancel</button>
                            </div>

                        </div>
                        <!-- END FORM-->
}
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>

            @{
                if (types.Count() != 0)
                {
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-grid font-blue"></i>
                                    <span class="caption-subject font-blue bold uppercase">Class Types</span>
                                </div>
                                <div class="actions" data-toggle="tooltip" title="Help">
                                    <a class="btn btn-circle btn-icon-only btn-default" href="#ClassListModal" data-toggle="modal">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="mt-element-list">
                                    <div class="mt-list-container list-news">
                                        <ul>
                                            @{
                                                foreach (class_type type in types)
                                                {
                                                    <li class="mt-list-item">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                                <h3 style="margin: 0 0 10px;font-size: 18px;">
                                                                    @type.name
                                                                </h3>
                                                                <p><b>Maximum Bookings</b> : @type.max_bookings</p>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                                <a class="pending" href="javascript:Delete(@type.id)" style="float:right">
                                                                    <i class="fa fa-close fa-2x" style="color:#d02121" data-toggle="tooltip" title="Delete"></i>
                                                                </a>
                                                                <a class="done" href="javascript:edit(@type.id)" style="float:right">
                                                                    <i class="fa fa-pencil fa-2x" style="color:#ecdd25" data-toggle="tooltip" title="Edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                }
            }
            
            </div>

        @*---------------------------------------- Modals -------------------------------------------- *@

        <div id="AddClassModal" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Radio Switch in Modal</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="ClassListModal" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Radio Switch in Modal</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script>

    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();

        if ("@Model.Success" == "True") {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr.success('', 'Success!');
            $('#Name').val("");
            $('#MaxBookings').val("");
        }
    });

    function edit(classTypeId) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Class/GetClassType";

        var data = {
            id: classTypeId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#Name').val(result.name);
                $('#MaxBookings').val(result.max_bookings);
                $('#ClassTypeId').val(result.id);
                $("#addButton").html('Update');
                $("#cancelButton").show();
                window.scrollBy(0, -500);
            },
            async: true,
            processData: false
        });
    }

    function Delete(classTypeId) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Class/DeleteClassType";

        var data = {
            id: classTypeId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });
    }

    function cancel() {
        $('#Name').val("");
        $('#MaxBookings').val("");
        $('#ClassTypeId').val(0);
        $("#addButton").html('Add');
        $("#cancelButton").hide();
    }


</script>
