﻿@using Common.Database;
@using BookingApp.Models;
@using Models;
@{
    ViewBag.Title = "Default Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));
    IEnumerable<class_type> classTypes = Common.Class.getClassTypes(studioID);

}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Default Classes</h2>
                    </div>
                    <div class="actions">
                        <a href="~/Classes/Forecast" class="btn btn-circle blue-steel btn-outline">
                            <i class="fa fa-chevron-left"></i> Back
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <p style="color:#9a9a9a">" The classes you add below will be automatically added to the appropriate day in the class schedule every week "</p>
                </div>
            </div>



            @{
                DateTime day = new DateTime(2017, 7, 24);
                int counter = 1;

                while (counter != 7)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light bordered" style="min-height:400px; max-height:400px">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-blue bold uppercase">@(day.DayOfWeek.ToString())'s</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="scroller" style="height:300px" data-rail-visible="1" data-rail-color="blue" data-handle-color="#a1b2bd">
                                    <!-- BEGIN FORM-->
                                    <p data-toggle="collapse" data-target="#@(counter)-div" style="cursor: pointer"><b> Add Class </b><i class="fa fa-chevron-down"></i></p>
                                    <div class="collapse" id="@(counter)-div">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label">Time</label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control timepicker timepicker-24" id="@(counter)-time">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-clock-o"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label">Class Type</label>
                                                <select id="@(counter)-dropdown" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                    <option></option>
                                                    @{
                                                        foreach (class_type type in classTypes)
                                                        {
                                                            <option value="@(type.id)">@type.name</option>
                                                        }
                                                    }
                                                </select>
                                                <br />
                                            </div>
                                        </div>
                                        <a class="btn green" href="javascript:addDefaultClass(@counter)" id="@(counter)-addButton" style="background-color:#55a0dd; border-color:#55a0dd">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <hr />
                                    @{
                                        IEnumerable<DefaultClassModel> classes = DefaultClassModel.getForDay(counter, studioID);
                                        if (classes.Count() == 0)
                                        {
                                            <p style="color:red"><i>No default classes</i></p>
                                        }
                                        else
                                        {
                                            foreach (DefaultClassModel s_class in classes)
                                            {
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                                        <span class="form-control-static"><b> @s_class.Time.ToString(@"hh\:mm") </b></span>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                                        <span class="form-control-static"> @s_class.Name </span>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                                        <div class="form-group pull-right" data-toggle="tooltip" title="Delete Class">
                                                            <a href="javascript:deleteClass(@s_class.ClassId)" class="btn btn-icon-only red">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>

                    day = day.AddDays(1);
                    counter++;
                }
            }

        </div>

        </div>

    </div>


<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function addDefaultClass(dayOfWeek) {

        if (($('#' + dayOfWeek + '-dropdown').val() != "") && ($('#' + dayOfWeek + '-time').val() != "")) {

            var posturl = window.location.protocol + "//" + window.location.host + "/Class/AddDefaultClass";

            var data = {
                dayOfWeek: dayOfWeek,
                time: $('#' + dayOfWeek + '-time').val(),
                classTypeId: $('#' + dayOfWeek + '-dropdown').val(),
                studioId: @(studioID)
            };

            $.ajax({
                url: posturl,
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    location.reload();
                },
                async: true,
                processData: false
            });

        }
        else {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr.error('Please fill in both the time and class type', 'Incomplete!');
        }

    }

    function deleteClass(defaultClassId) {

        var posturl = window.location.protocol + "//" + window.location.host + "/Class/DeleteDefaultClass";

        var data = {
            id: defaultClassId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });

    }

</script>