﻿@using Common.Database;
@using BookingApp.Models;
@using Models;
@{
    ViewBag.Title = "Class Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));
    IEnumerable<class_type> classTypes = Common.Class.getClassTypes(studioID);
}

    <!-- BEGIN CONTAINER -->
<div class="page-container page-content-inner page-container-bg-solid" oninit="checkPhone()">
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space margin-top-30">
        <!-- BEGIN PAGE BASE CONTENT -->

       
        <div class="row widget-row">
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Class Schedule</h2>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn blue-steel" href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="border-bottom-right-radius: 3px; border-top-right-radius: 3px;">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="~/Classes/ClassTypes">
                                        <i class="fa fa-pencil"></i> Class Types
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Classes/DefaultClasses">
                                        <i class="fa fa-cogs"></i> Default Classes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="portlet-body">
                    <p style="color:#9a9a9a">" Manage your classes for the next two weeks here "</p>
                </div>*@
            </div>

            <div class="row phone-only">
                <div class="col-md-12">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                        <div class="portlet-title">
                            <div class="caption">
                                @*<i class="fa fa-calendar-o"></i>*@This Week
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                @*<a href="" class="fullscreen" data-original-title="" title=""> </a>*@
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                @{
                                    DateTime day = DateTime.Today;

                                    while (day.DayOfWeek.ToString() != "Sunday")
                                    {
                                        //phone-------------------------------------------------------------------------------
                                        <div class="col-md-4 col-sm-4 col-xs-4 small-devices-only">
                                            <a href="#@(day.Day)-modal" data-toggle="modal" style="text-decoration:none; color:black">
                                                <div class="portlet light bordered" style="background-color:whitesmoke; padding:0px">
                                                    <div class="portlet-body" style="text-align:center; padding-top:0px">
                                                        <h3 class="phone-only">@day.DayOfWeek.ToString().Substring(0, 1)</h3>
                                                        <h3 class="ipad-up">@day.DayOfWeek.ToString()</h3>
                                                        <p><b>@day.Day</b></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                //phone-------------------------------------------------------------------------------

             //model ---------------------------------------------
                                        <div id="@(day.Day)-modal" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                        <h4 class="modal-title">@(day.DayOfWeek.ToString()), @(day.Day)</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <label class="control-label">Time</label>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control timepicker timepicker-24" id="@(day.Day)-time-1">
                                                                        <span class="input-group-btn">
                                                                            <button class="btn default" type="button">
                                                                                <i class="fa fa-clock-o"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <label class="control-label">Class Type 
                                                                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                                        <i class="icon-cloud-upload"></i>
                                                                    </a>
                                                                </label>
                                                                <select id="@(day.Day)-dropdown-1" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                                    <option></option>
                                                                    @{
                                                                        foreach (class_type type in classTypes)
                                                                        {
                                                                            <option value="@(type.id)">@type.name</option>
                                                                        }
                                                                    }
                                                                </select>  
                                                                <br />
                                                            </div>                                                  
                                                        </div>
                                                        <a class="btn btn-icon-only green" href="javascript:addClass(@day.Day,@day.Month,@day.Year, 1)" id="@(day.Day)-addButton-1" style="background-color:#55a0dd; border-color:#55a0dd">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <a class="btn green" href="" id="@(day.Day)-updateButton-1" style="display:none;background-color:#55a0dd; border-color:#55a0dd">
                                                            Update
                                                        </a>
                                                        <a class="btn blue btn-outline" href="javascript:cancelUpdate(@day.Day, 1)" id="@(day.Day)-cancelButton-1" style="display:none;border-color:#55a0dd">
                                                            Cancel
                                                        </a>
                                                        <hr />

                                                        @{
                                                            IEnumerable<ClassModel> classes = ClassModel.getForDay(@day.ToString("yyyy-MM-dd"), studioID);
                                                            if (classes.Count() == 0) {
                                                                <p style="color:#ef8d3a"><i>No classes for this day yet..</i></p>
                                                            }
                                                            else
                                                            {
                                                                foreach (ClassModel s_class in classes)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                            <span class="form-control-static"><b> @s_class.Time.ToString(@"hh\:mm") </b></span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                                            <span class="form-control-static"> @s_class.Name </span>
                                                                        </div>
                                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                                            <div class="form-group pull-right">
                                                                                <a href="javascript:updateFields(@day.Day,@s_class.ClassId, 1)" class="btn btn-icon-only orange" @*data-toggle="tooltip" title="Update Class"*@>
                                                                                    <i class="fa fa-pencil"></i>
                                                                                </a>
                                                                                <a href="javascript:deleteClass(@s_class.ClassId)" class="btn btn-icon-only red" @*data-toggle="tooltip" title="Delete Class"*@>
                                                                                    <i class="fa fa-times"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        day = day.AddDays(1);
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
            </div>
        </div>


        <div class="row widget-row phone-only">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                        <div class="portlet-title">
                            <div class="caption">
                                @*<i class="fa fa-calendar-o"></i>*@Next Week
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                @*<a href="" class="fullscreen" data-original-title="" title=""> </a>*@
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                @{
                                    day = day.AddDays(1); //will always be monday

                                    for (int i = 0; i < 6; i++)
                                    {
                                        //phone -----------------------------------------------------
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <a href="#@(day.Day)-modal" data-toggle="modal" style="text-decoration:none; color:black">
                                                <div class="portlet light bordered" style="background-color:whitesmoke; padding:0px">
                                                    <div class="portlet-body" style="text-align:center; padding-top:0px">
                                                        <h3 class="phone-only">@day.DayOfWeek.ToString().Substring(0, 1)</h3>
                                                        <h3 class="ipad-up">@day.DayOfWeek.ToString()</h3>
                                                        <p><b>@day.Day</b></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        //phone -----------------------------------------------------

                                        //model ---------------------------------------------
                                        <div id="@(day.Day)-modal" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                        <h4 class="modal-title">@(day.DayOfWeek.ToString()), @(day.Day)</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <label class="control-label">Time</label>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control timepicker timepicker-24" id="@(day.Day)-time-1">
                                                                        <span class="input-group-btn">
                                                                            <button class="btn default" type="button">
                                                                                <i class="fa fa-clock-o"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                        <label class="control-label">Class Type</label>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                        <a href="javascript:;" style="float:right; text-decoration:none">
                                                                            <i class="fa fa-question-circle fa-2x"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>



                                                                <select id="@(day.Day)-dropdown-1" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                                    <option></option>
                                                                    @{
                                                                        foreach (class_type type in classTypes)
                                                                        {
                                                                            <option value="@(type.id)">@type.name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                                <br />
                                                            </div>
                                                        </div>
                                                        <a class="btn btn-icon-only green" href="javascript:addClass(@day.Day,@day.Month,@day.Year, 1)" id="@(day.Day)-addButton-1" style="background-color:#55a0dd; border-color:#55a0dd">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <a class="btn green" href="" id="@(day.Day)-updateButton-1" style="display:none;background-color:#55a0dd; border-color:#55a0dd">
                                                            Update
                                                        </a>
                                                        <a class="btn blue btn-outline" href="javascript:cancelUpdate(@day.Day, 1)" id="@(day.Day)-cancelButton-1" style="display:none;border-color:#55a0dd">
                                                            Cancel
                                                        </a>
                                                        <hr />

                                                        @{
                                                            IEnumerable<ClassModel> classes = ClassModel.getForDay(@day.ToString("yyyy-MM-dd"), studioID);

                                                            if (classes.Count() == 0)
                                                            {
                                                                <p style="color:#ef8d3a"><i>No classes for this day yet..</i></p>
                                                            }
                                                            else
                                                            {
                                                                foreach (ClassModel s_class in classes)
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                            <span class="form-control-static"><b> @s_class.Time.ToString(@"hh\:mm") </b></span>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                                            <span class="form-control-static"> @s_class.Name </span>
                                                                        </div>
                                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                                            <div class="form-group pull-right">
                                                                                <a href="javascript:updateFields(@day.Day,@s_class.ClassId, 1)" class="btn btn-icon-only orange" @*data-toggle="tooltip" title="Update Class"*@>
                                                                                    <i class="fa fa-pencil"></i>
                                                                                </a>
                                                                                <a href="javascript:deleteClass(@s_class.ClassId)" class="btn btn-icon-only red" @*data-toggle="tooltip" title="Delete Class"*@>
                                                                                    <i class="fa fa-times"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                                                day = day.AddDays(1);
                                                            }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
            </div>
        </div>







@* ----------------- Tabs Begin here -------------------------------------------------------------------------- *@


        <div class="row">
            <div class="col-lg-6 margin-bottom-20 ipad-up">
                <h4>This Week</h4>
                <!-- BEGIN WIDGET TAB -->
                <div class="widget-bg-color-white widget-tab" style="min-height:0px">
                    <ul class="nav nav-tabs">
                        @{
                            DateTime TabDay = DateTime.Today;
                            bool active = true;

                            while (TabDay.DayOfWeek.ToString() != "Sunday")
                            {
                                <li class="@((active) ? "active" : "")">
                                    <a href="#tab_@(TabDay.Day)_1" data-toggle="tab" aria-expanded="false"> @TabDay.DayOfWeek.ToString() </a>
                                </li>

                                active = false;
                                TabDay = TabDay.AddDays(1);
                            }
                        }
                    </ul>
                    <div style="position: relative; overflow: hidden; width: auto;">
                        <div class="tab-content scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-handle-color="#D7DCE2" data-initialized="1">
                            @{
                                TabDay = DateTime.Today;
                                active = true;

                                while (TabDay.DayOfWeek.ToString() != "Sunday")
                                {
                                    <div class="tab-pane fade @((active) ? "active in" : "")" id="tab_@(TabDay.Day)_1">
                                        <div class="widget-news margin-bottom-20">
                                            <div class="widget-news-right-body">
                                                <h3 class="widget-news-right-body-title">
                                                    @(TabDay.DayOfWeek.ToString()), @(TabDay.Date.ToString("dd MMMM"))
                                                </h3>
                                                <br />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">Time</label>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="@(TabDay.Day)-time-2">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">Class Type</label>
                                                    <select id="@(TabDay.Day)-dropdown-2" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        @{
                                                            foreach (class_type type in classTypes)
                                                            {
                                                                <option value="@(type.id)">@type.name</option>
                                                            }
                                                        }
                                                    </select>
                                                    <br />
                                                </div>
                                            </div>
                                            <a class="btn btn-icon-only green" href="javascript:addClass(@TabDay.Day,@TabDay.Month,@TabDay.Year, 2)" id="@(TabDay.Day)-addButton-2" style="background-color:#55a0dd; border-color:#55a0dd">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a class="btn green" href="" id="@(TabDay.Day)-updateButton-2" style="display:none;background-color:#55a0dd; border-color:#55a0dd">
                                                Update
                                            </a>
                                            <a class="btn blue btn-outline" href="javascript:cancelUpdate(@TabDay.Day, 2)" id="@(TabDay.Day)-cancelButton-2" style="display:none;border-color:#55a0dd">
                                                Cancel
                                            </a>
                                            <hr />
                                            @{
                                                IEnumerable<ClassModel> classes = ClassModel.getForDay(@TabDay.ToString("yyyy-MM-dd"), studioID);
                                                if (classes.Count() == 0)
                                                {
                                                    <p style="color:#ef8d3a"><i>No classes for this day yet..</i></p>
                                                }
                                                else
                                                {
                                                    foreach (ClassModel s_class in classes)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <span class="form-control-static"><b> @s_class.Time.ToString(@"hh\:mm") </b></span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <span class="form-control-static"> @s_class.Name </span>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                                <div class="form-group pull-right">
                                                                    <a href="javascript:updateFields(@TabDay.Day,@s_class.ClassId, 2)" class="btn btn-icon-only orange" @*data-toggle="tooltip" title="Update Class"*@>
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                    <a href="javascript:deleteClass(@s_class.ClassId)" class="btn btn-icon-only red" @*data-toggle="tooltip" title="Delete Class"*@>
                                                                        <i class="fa fa-times"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>

                                    active = false;
                                    TabDay = TabDay.AddDays(1);
                                }
                            }
                        </div>
                    </div>
                </div>
                <!-- END WIDGET TAB -->
            </div>


            <div class="col-lg-6 margin-bottom-20 ipad-up">
                <h4>Next Week</h4>
                <div class="widget-bg-color-white widget-tab" style="min-height:0px">
                    <ul class="nav nav-tabs">
                        @{
                            TabDay = TabDay.AddDays(1);
                            active = true;

                            while (TabDay.DayOfWeek.ToString() != "Sunday")
                            {

                                <li class="@((active) ? "active" : "")">
                                    <a href="#tab_@(TabDay.Day)_2" data-toggle="tab" aria-expanded="false"> @TabDay.DayOfWeek.ToString() </a>
                                </li>

                                active = false;
                                TabDay = TabDay.AddDays(1);
                            }
                        }
                    </ul>
                    <div style="position: relative; overflow: hidden; width: auto;">
                        <div class="tab-content scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-handle-color="#D7DCE2" data-initialized="1">
                            @{
                                TabDay = TabDay.AddDays(-6);
                                active = true;

                                while (TabDay.DayOfWeek.ToString() != "Sunday")
                                {
                                    <div class="tab-pane fade @((active) ? "active in" : "")" id="tab_@(TabDay.Day)_2">
                                        <div class="widget-news margin-bottom-20">
                                            <div class="widget-news-right-body">
                                                <h3 class="widget-news-right-body-title">
                                                    @(TabDay.DayOfWeek.ToString()), @(TabDay.Date.ToString("dd MMMM"))
                                                </h3>
                                                <br />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">Time</label>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="@(TabDay.Day)-time-2">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label">Class Type</label>
                                                    <select id="@(TabDay.Day)-dropdown-2" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                        <option></option>
                                                        @{
                                                            foreach (class_type type in classTypes)
                                                            {
                                                                <option value="@(type.id)">@type.name</option>
                                                            }
                                                        }
                                                    </select>
                                                    <br />
                                                </div>
                                            </div>
                                            <a class="btn btn-icon-only green" href="javascript:addClass(@TabDay.Day,@TabDay.Month,@TabDay.Year, 2)" id="@(TabDay.Day)-addButton-2" style="background-color:#55a0dd; border-color:#55a0dd">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a class="btn green" href="" id="@(TabDay.Day)-updateButton-2" style="display:none;background-color:#55a0dd; border-color:#55a0dd">
                                                Update
                                            </a>
                                            <a class="btn blue btn-outline" href="javascript:cancelUpdate(@TabDay.Day, 2)" id="@(TabDay.Day)-cancelButton-2" style="display:none;border-color:#55a0dd">
                                                Cancel
                                            </a>
                                            <hr />
                                            @{
                                                IEnumerable<ClassModel> classes = ClassModel.getForDay(@TabDay.ToString("yyyy-MM-dd"), studioID);
                                                if (classes.Count() == 0)
                                                {
                                                    <p style="color:#ef8d3a"><i>No classes for this day yet..</i></p>
                                                }
                                                else
                                                {
                                                    foreach (ClassModel s_class in classes)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <span class="form-control-static"><b> @s_class.Time.ToString(@"hh\:mm") </b></span>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <span class="form-control-static"> @s_class.Name </span>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                                <div class="form-group pull-right">
                                                                    <a href="javascript:updateFields(@TabDay.Day,@s_class.ClassId, 2)" class="btn btn-icon-only orange" @*data-toggle="tooltip" title="Update Class"*@>
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                    <a href="javascript:deleteClass(@s_class.ClassId)" class="btn btn-icon-only red" @*data-toggle="tooltip" title="Delete Class"*@>
                                                                        <i class="fa fa-times"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>

                                    active = false;
                                    TabDay = TabDay.AddDays(1);
                                }
                            }
                        </div>
                    </div>
                </div>
                <!-- END WIDGET TAB -->
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    function addClass(day, month, year, device) {

        if (($('#' + day + '-dropdown-' + device).val() != "") && ($('#' + day + '-time-' + device).val() != "")) {

            var posturl = window.location.protocol + "//" + window.location.host + "/Class/AddClass";

            var data = {
                day: day,
                month: month,
                year: year,
                time: $('#' + day + '-time-' + device).val(),
                classTypeId: $('#' + day + '-dropdown-' + device).val(),
                studioId: @studioID
            };

            $.ajax({
                url: posturl,
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    location.reload();
                },
                async: true,
                processData: false
            });

        }
        else {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr.error('Please fill in both the time and class type', 'Incomplete!');
        }

    }

    function updateFields(day, classId, device) {
        debugger;
        var posturl = window.location.protocol + "//" + window.location.host + "/Class/GetClass";

        var data = {
            id: classId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#' + day + "-time-" + device)[0].value = result.time.Hours + ":" + result.time.Minutes;
                $('#' + day + "-dropdown-" + device).val(result.class_type_Id).trigger('change');

                $('#' + day + "-addButton-" + device).hide();
                $('#' + day + "-updateButton-" + device).show();
                $('#' + day + "-updateButton-" + device)[0].href = "javascript:updateClass(" + day + "," + classId + "," + device + ");";
                $('#' + day + "-cancelButton-" + device).show();

            },
            async: true,
            processData: false
        });

    }

    function updateClass(day, classId, device) {
        
        var posturl = window.location.protocol + "//" + window.location.host + "/Class/UpdateClass";

        var data = {
            id: classId,
            time: $('#' + day + '-time-' + device).val(),
            classTypeId: $('#' + day + '-dropdown-' + device).val()
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });

    }

    function cancelUpdate(day, device) {

        $('#' + day + "-dropdown-" + device).val(0).trigger('change');
        $('#' + day + '-time-' + device).val("");
        $('#' + day + "-updateButton-" + device).hide();
        $('#' + day + "-cancelButton-" + device).hide();
        $('#' + day + "-addButton-" + device).show();
    }

    function deleteClass(classId) {

        var posturl = window.location.protocol + "//" + window.location.host + "/Class/DeleteClass";

        var data = {
            id: classId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });

    }


</script>