﻿@using Models;
@using Common.Database.Custom_Models;
@using Common.Database;
@using BookingApp.Models;
@model BookingModel

@{
    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));
    int userId = int.Parse(ApplicationUser.getPropertyValue("UserID"));

    Html.HiddenFor(m => m.Classes);
    Html.HiddenFor(m => m.Date);

    bool BookedForThisClass = false;
    bool WaitingListForThisClass = false;
    int bookingID = 0;
}

<div id="portletBody">
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-blue-sharp">
            <i class="fa fa-calendar font-blue-sharp"></i>
            <span class="caption-subject"> @(Model.Date.DayOfWeek)'s Classes</span>
        </div>
    </div>
    <div class="portlet-body">

        @{
            if (Model.Classes.Count() == 0)
            {
                <p style="color:red"><i>No classes for this day</i></p>
            }
            else
            {
                <div class="panel-group accordion" id="accordion3">
                    @foreach (Class_custom clas in Model.Classes)
                    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_@(clas.id)" aria-expanded="false">
                                    <b>@clas.time.ToString(@"hh\:mm")</b> &nbsp;&nbsp; @clas.name
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_@(clas.id)" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body" style="overflow-y:auto;">                               
                                @{
                                    double percentage = Math.Round((double)(clas.number_booked) / (double)(clas.max_bookings) * 100, 0);

                                    if (percentage == 0)
                                    {
                                        <p style="color:#FFC943"><i>No attendees yet</i></p>
                                    }
                                    else
                                    {
                                        <a class="btn btn-xs grey-cascade" style="float:right; margin-left:10px">@(clas.number_booked) / @(clas.max_bookings)</a>

                                        <div class="progress-info" style="padding-top:5px">
                                            <div class="progress">
                                                <span style="width:@(percentage)%; background:@(percentage == 100 ? "#fd6a6a":"#76ff76") !important; padding-top:30px" class="progress-bar progress-bar-success green">
                                                </span>
                                            </div>
                                        </div>

                                        <div>
                                            <h5><b>Attending:</b></h5>
                                            @{
                                                foreach (Booking_custom booking in Common.Booking.getBookingsForClass(clas.id, studioID, Model.Date.ToString("yyyy-MM-dd")))
                                                {
                                                    if (booking.userId == userId)
                                                    {
                                                        BookedForThisClass = true;
                                                        bookingID = booking.id;
                                                        <p style="padding-left:20px; margin-bottom:5px"><i class="fa fa-check" style="color:#0cc10c"></i> @booking.name @booking.surname</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="padding-left:20px; margin-bottom:5px">@booking.name @booking.surname</p>
                                                    }
                                                }
                                            }                                       
                                        </div>
                                                }

                                }
                                <hr />
                                @{
                                    if (percentage != 100)
                                    {                                      
                                        if (BookedForThisClass)
                                        {
                                            <a class="btn btn-sm red" href="javascript:cancelBooking(@bookingID,@clas.id)">
                                                <i class="fa fa-times"></i> Cancel Booking
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm blue" href="javascript:addBooking(@(clas.id),'@(Model.Date.ToString("yyyy-MM-dd"))')">
                                                <i class="fa fa-plus"></i> Book
                                            </a>
                                        }
                                    }
                                    else
                                    {

                                        <h5><b>Waiting List:</b></h5>

                                        foreach (WaitingList_Custom member in Common.Booking.getWaitingListForClass(clas.id))
                                        {
                                            if (member.userId == userId)
                                            {
                                                WaitingListForThisClass = true;
                                                <p style="padding-left:20px; margin-bottom:5px"><i class="fa fa-check" style="color:#0cc10c"></i> @member.name @member.surname</p>
                                            }
                                            else
                                            {
                                                <p style="padding-left:20px; margin-bottom:5px">@member.name @member.surname</p>
                                            }
                                        }

                                        if (!WaitingListForThisClass)
                                        {
                                            <hr />
                                            <a class="btn btn-sm btn-warning" href="javascript:addToWaitingList(@(clas.id),'@(Model.Date.ToString("yyyy-MM-dd"))')">
                                                <i class="fa fa-plus"></i> Join Waiting List
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    BookedForThisClass = false;
                    WaitingListForThisClass = false;
                    bookingID = 0;
                }
                </div>
            }
        }
    </div>
</div>
</div>


<script>

    function addBooking(classId, date) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Class/AddBooking";

        var data = {
            classId: classId,
            userId: @userId,
            studioId: @studioID,
            date: date
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });
    }

    function cancelBooking(bookingId, classId) {

        swal({
            title: "Are you sure?",
            text: "You will be removed from the class and members on the waiting list may take your place.",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#e7505a",
            confirmButtonText: "Yes, cancel",
            closeOnConfirm: false
        },
            function () {

                var posturl = window.location.protocol + "//" + window.location.host + "/Class/CancelBooking";

                var data = {
                    id: bookingId,
                    classId: classId
                };

                $.ajax({
                    url: posturl,
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        swal({
                            title: "Canceled!",
                            text: "Book another class instead",
                            type: "success",
                            timer: 2500,
                            showConfirmButton: false
                        });
                        debugger;
                        $('#portletBody').empty();
                        $('#portletBody').load(document.URL + '#portletBody');
                    },
                    async: true,
                    processData: false
                });

            });
    }

    function addToWaitingList(classId, date) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Class/AddtoWaitingList";

        var data = {
            classId: classId,
            userId: @userId,
            studioId: @studioID,
            date: date
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: true,
            processData: false
        });
    }

    function relaodPage() {
        location.reload();
    }

</script>