﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Name | Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/ErrorCss")

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body class=" page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-red"> : ( </div>
            <div class=" details">
                <h3>An Error Has Occured..</h3>
                <p>
                    <a href="~/Dashboard/Dashboard" class="btn red btn-outline"> Return home </a>
                    <br>
                </p>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>

</body>

</html>