﻿@using Models;
@model SettingsModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Settings</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">

                        <div class="portlet-body overflow-h" id="portletBody">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="tabbable-line">
                                        <ul class="nav nav-tabs ">
                                            <li class="active">
                                                <a href="#company" data-toggle="tab" aria-expanded="true"> Company </a>
                                            </li>
                                            <li class="">
                                                <a href="#billing" data-toggle="tab" aria-expanded="false"> Billing </a>
                                            </li>
                                            <li class="">
                                                <a href="#membership" data-toggle="tab" aria-expanded="false"> Membership </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="company">
@using (Html.BeginForm("UpdateStudioDetails", "Settings", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group">
                                                            <br />
                                                            <label>Name</label>
                                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", required = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <br />
                                                            <label>Email Address</label>
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <br />
                                                            <label>Contact Number</label>
                                                            @Html.TextBoxFor(m => m.TelNumber, new { @class = "form-control", type = "number", required = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10 col-sm-10">
                                                        <div class="form-group">
                                                            <br />
                                                            <label>Physical Address</label>
                                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", type = "text", required = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <div class="form-group">
                                                            <br />
                                                            <label>Postal Code</label>
                                                            @Html.TextBoxFor(m => m.Postal_code, new { @class = "form-control", type = "number", required = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <br />
                                                        <button class="btn blue" type="submit"> Save Changes </button>
                                                    </div>
                                                </div>
}
                                            </div>

                                            <div class="tab-pane" id="billing">
@using (Html.BeginForm("UpdateBankDetails", "Settings", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.BankDetailsId)
                                                <h4 style="margin-top:0px;">Banking Details</h4>
                                                <br />
                                                <div style="margin-left:30px">
                                                    <p>
                                                        Your banking details are only required if you would like to make use of the invoicing feature. These details will be displayed at the bottom of the invoice.
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <br />
                                                                <label>Account Holder</label>
                                                                @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control", type = "text", required = true, placeholder = "Account Holder" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Bank</label>
                                                                @Html.TextBoxFor(m => m.Bank, new { @class = "form-control", type = "text", required = true, placeholder = "Bank Name" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Branch Code</label>
                                                                @Html.TextBoxFor(m => m.BranchCode, new { @class = "form-control", type = "number", required = true, placeholder = "Branch Code" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Account Number</label>
                                                                @Html.TextBoxFor(m => m.AccNumber, new { @class = "form-control", type = "number", required = true, placeholder = "Account Number", maxlength = "9" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br />
                                                <h4 style="margin-top:0px;">Tax</h4>
                                                <br />
                                                <div style="margin-left:30px">
                                                    <p>
                                                        <b style="color:red">N.B.</b> If your company is VAT registered, make sure to fill in your registration number below so that it appears on your invoices.
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                @Html.TextBoxFor(m => m.VatNumber, new { @class = "form-control", type = "number", placeholder = "VAT Number", maxlength = "10" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <br />
                                                    <button class="btn blue" type="submit"> Save Changes </button>
                                                </p>
}
                                            </div>

                                            <div class="tab-pane" id="membership">
                                                <h4 style="margin-top:0px;">Type</h4>
                                                <br />
                                                <p style="margin-left:30px; font-size:30px">@Model.PaymentPlan</p>
                                                @*<div style="margin-left:30px">
                                                    <div class="input-group">
                                                        <div class="icheck-inline">
                                                            <label>
                                                                Type 1
                                                                <input type="checkbox" class="icheck" checked data-checkbox="icheckbox_flat-blue">
                                                            </label>
                                                            <label>
                                                                Type 2
                                                                <input type="checkbox" class="icheck" data-checkbox="icheckbox_flat-blue">
                                                            </label>
                                                            <label>
                                                                Type 3
                                                                <input type="checkbox" class="icheck" data-checkbox="icheckbox_flat-blue">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                <br />
                                                <h4 style="margin-top:0px;">Details</h4>
                                                <br />
                                                <div style="margin-left:30px">
                                                    <label>Maximum Members</label>
                                                    <p style="margin-left:30px; font-size:30px">@Model.MaxMembers</p>
                                                    <label>Maximum Super Users</label>
                                                    <p style="margin-left:30px; font-size:30px">@Model.MaxSuperUsers</p>
                                                    <label>Monthly Fee</label>
                                                    <p style="margin-left:30px; font-size:30px">R@(Model.MaxSuperUsers).00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>


        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT -->
</div>

<script>

    $(document).ready(function () {

        $('#AccNumber').maxlength({
            alwaysShow: true,
            placement: 'top-left',
            warningClass: "label label-danger",
            limitReachedClass: "label label-success"
        });

        $('#VatNumber').maxlength({
            alwaysShow: true,
            placement: 'top-left',
            warningClass: "label label-danger",
            limitReachedClass: "label label-success"
        });

    });

</script>