﻿/* GLOBALS */
* {
    -webkit-font-smoothing: antialiased;
}



/* BADGES */
figure {
    margin: 0;
}

.badge {
    display: inline-block;
    text-align: center;
    padding: 1em 1.2em;
}

.hexagon-outer {
    width: 70px;
    height: 48px;
    background: #4E4D55;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    -webkit-perspective: 800;
    perspective: 800;
}

figure[class^=hexagon]:before,
figure[class^=hexagon]:after {
    content: '';
    width: 0;
    position: absolute;
    left: 0;
}

.hexagon-outer:before,
.hexagon-outer:after {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.hexagon-outer:before {
    border-bottom: 17px solid #4E4D55;
    top: -17px;
}

.hexagon-outer:after {
    border-top: 17px solid #4E4D55;
    bottom: -17px;
}

.larger .hexagon-outer {
    width: 104px;
    height: 70px;
}

    .larger .hexagon-outer:before,
    .larger .hexagon-outer:after {
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
    }

    .larger .hexagon-outer:before {
        border-bottom: 26px solid #4E4D55;
        top: -26px;
    }

    .larger .hexagon-outer:after {
        border-top: 26px solid #4E4D55;
        bottom: -26px;
    }

.hexagon-mask {
    background: #e8e8e3;
    width: 64px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 2;
}

    .hexagon-mask:before {
        border-top: 15px solid transparent;
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
        border-bottom: 15px solid #e8e8e3;
        top: -30px;
    }

.larger .hexagon-mask {
    width: 92px;
    height: 30px;
    left: 6px;
    top: 4px
}

    .larger .hexagon-mask:before {
        border-top: 23px solid transparent;
        border-left: 46px solid transparent;
        border-right: 46px solid transparent;
        border-bottom: 23px solid #e8e8e3;
        top: -46px;
    }

.hexagon-inner {
    width: 64px;
    height: 38px;
    position: relative;
    left: 3px;
    top: 8px;
    z-index: 3;
}

    .hexagon-inner:before,
    .hexagon-inner:after {
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
    }

    .hexagon-inner:before {
        border-bottom: 15px solid;
        top: -15px;
    }

    .hexagon-inner:after {
        border-top: 15px solid;
        bottom: -15px;
    }

.larger .hexagon-inner {
    width: 92px;
    height: 54px;
    left: 6px;
    top: 12px;
}

    .larger .hexagon-inner:before,
    .larger .hexagon-inner:after {
        border-left: 46px solid transparent;
        border-right: 46px solid transparent;
    }

    .larger .hexagon-inner:before {
        border-bottom: 23px solid;
        top: -23px;
    }

    .larger .hexagon-inner:after {
        border-top: 23px solid;
        bottom: -23px;
    }

.hexagon-inner i {
    color: #4E4D55;
    display: block;
    font-size: 1.4em;
    position: relative;
    top: -8px;
    text-align: center;
}

.ribbon {
    background: #4E4D55;
    color: #DAD8D6;
    display: block;
    font-size: .8em;
    height: 18px;
    line-height: 18px;
    text-align: center;
    position: relative;
    z-index: 5;
    top: -2px;
}

.larger .ribbon {
    height: 26px;
    line-height: 26px;
    font-size: .875em;
}

.ribbon span {
    font-size: .35em;
    line-height: .75;
}

.ribbon:before,
.ribbon:after {
    content: '';
    border: solid #4E4D55;
    border-width: 9px;
    position: absolute;
    width: 0;
}

.ribbon:before {
    border-color: #4E4D55 #4E4D55 #4E4D55 transparent;
    left: -14px;
}

.ribbon:after {
    border-color: #4E4D55 transparent #4E4D55 #4E4D55;
    right: -14px;
}

.larger .ribbon:before,
.larger .ribbon:after {
    border-width: 13px;
}

.larger .ribbon:before {
    left: -20px;
}

.larger .ribbon:after {
    right: -20px;
}

.overlay {
    background: rgba(0,0,0,.08);
    display: block;
    height: 60px;
    width: 385px;
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 4;
    -webkit-transform: translateX(-178px) rotateY(-84deg);
}

.larger .overlay {
    width: 515px;
    height: 80px;
    -webkit-transform: translateX(-237px) rotateY(-83deg);
    top: -6px;
}

/* COLORS */
.grayscale {
    -webkit-filter: grayscale(100%);
}

.green {
    background: #8FCF69;
}

.badge .green:before,
.badge .green:after {
    border-color: #8FCF69 transparent;
}
