﻿@using Common.Database;
@using BookingApp.Models;
@using Models;
@model SettingsModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));

    string date = " - " + DateTime.Today.ToString("MMMM yyyy");
    
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bg-inverse">
                <div class="portlet-title">
                    <div class="caption">
                        <h2>Invoicing</h2>
                    </div>
                    <div class="actions">
                        <a class="btn btn-lg blue hidden-print uppercase print-btn" onclick="javascript:window.print();">Print</a>
                    </div>
                </div>
            </div>

            @Html.Hidden("currentUnitPrice", 0)

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                        <div class="portlet-title margin-bottom-20">
                            <div class="caption caption-md font-blue">
                                <span class="caption-subject theme-font bold uppercase">Settings</span>
                            </div>
                        </div>
                        <div class="portlet-body overflow-h" id="portletBody">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <h4 style="margin-top:0px;">Automatic Send</h4>
                                    <br />
                                    <p>By checking Automatic Send, invoices will be automatically sent on the 25th day of each month to all members.</p>
                                    <input type="checkbox" class="make-switch" data-on-color="success" data-off-color="danger" data-size="small">
                                    <hr />

                                    <h4 style="margin-top:0px;">Manual Send</h4>
                                    <br />
                                    <p>Fill in the blue boxes on the inoivce below to send a manual invoice to a member of your choice.</p>
                                    <p><b style="color:red">Remember:</b> If your company is VAT registered, update your VAT number under Settings if it does not appear in the top right corner of the invoice below.</p>
                                  
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>

            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget widget-comments">
                <div class="portlet-body overflow-h">
                    <div class="invoice-content-2 bordered">
                        <div class="row invoice-head">
                            <div class="col-md-8 col-xs-6">
                                <div class="invoice-logo">
                                    @*<img src="../assets/pages/img/logos/logo5.jpg" class="img-responsive" alt="">*@
                                    <h1 class="uppercase" style="font-size:35px">@Model.Name</h1>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="company-address">
                                    <span class="bold uppercase">Invoice #</span> 32
                                    <br> @Model.Address
                                    <br> South Africa
                                    <br>
                                    <span class="bold">T</span> 0@(Model.TelNumber)
                                    <br>
                                    <span class="bold">E</span> @Model.Email
                                    @{
                                        if (Model.VatNumber != "" && Model.VatNumber!=null)
                                        {
                                            <br>
                                            <span class="bold">VAT</span> @Model.VatNumber
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row invoice-cust-add">
                            <div class="col-xs-3" style="border: 5px solid #5ca0dd; border-radius:5px; padding-bottom:10px">
                                <h2 class="invoice-title uppercase">Member</h2>
                                <select id="memberDropdownInv" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" onchange="updateMemberDetails()">
                                    <option></option>
                                    @{
                                        foreach (user member in Common.User.getAll(studioID))
                                        {
                                            <option value="@(member.id)">@member.name @member.surname</option>
                                        }
                                    }
                                </select>

                                @*<p class="invoice-desc">[Member Name]</p>*@
                            </div>
                            <div class="col-xs-3">
                                <h2 class="invoice-title uppercase">Date</h2>
                                <p class="invoice-desc">@DateTime.Today.ToString("dd MMMM yyyy")</p>
                            </div>
                            <div class="col-xs-6">
                                <h2 class="invoice-title uppercase">Reference</h2>
                                <p class="invoice-desc inv-address" id="reference">[Member Number] - @DateTime.Today.ToString("MMMM yyyy")</p>
                            </div>
                        </div>
                        <div class="row invoice-body">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="invoice-title uppercase">Description</th>
                                            <th class="invoice-title uppercase text-center">Quantity</th>
                                            <th class="invoice-title uppercase text-center">Unit Price</th>
                                            <th class="invoice-title uppercase text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3 id="MemName">[Membership name here]</h3>
                                                <p id="NumClasses"> [Number of classes per month here] </p>
                                            </td>
                                            <td class="text-center sbold"> <input id="quantity" type="number" class="form-control" value="1" onchange="updateQuantity()" style="border: 5px solid #5ca0dd; border-radius:5px; text-align:center"/> </td>
                                            <td class="text-center sbold" id="unitPrice">R[00.00]</td>
                                            <td class="text-center sbold" id="totalTable">R[00.00]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row invoice-subtotal">
                            <div class="col-xs-3">
                                <h2 class="invoice-title uppercase">Subtotal</h2>
                                <p class="invoice-desc" id="subTotal">R[00.00]</p>
                            </div>
                            <div class="col-xs-6">
                                <h2 class="invoice-title uppercase">Total</h2>
                                <p class="invoice-desc grand-total" id="total">R[00.00]</p>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="company-address">
                                    <span class="bold uppercase">Payment can be made to:</span>
                                    
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <br />
                                                <h2 class="invoice-title uppercase" style="margin-top: 0px;">Account Holder</h2>
                                                <p class="invoice-desc">@Model.PayeeName</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <h2 class="invoice-title uppercase" style="margin-top: 0px;">Bank</h2>
                                                <p class="invoice-desc">@Model.Bank</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <h2 class="invoice-title uppercase" style="margin-top: 0px;">Branch Code</h2>
                                                <p class="invoice-desc">@Model.BranchCode</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <h2 class="invoice-title uppercase" style="margin-top: 0px;">Account Number</h2>
                                                <p class="invoice-desc">@Model.AccNumber</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <a class="btn blue hidden-print" style="float:right"><i class="fa fa-paper-plane"></i> Send Invoice</a>
                </div>
            </div>
            <!-- END PORTLET-->


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                        <div class="portlet-title margin-bottom-20">
                            <div class="caption caption-md font-blue">
                                <span class="caption-subject theme-font bold uppercase">History</span>
                            </div>
                        </div>
                        <div class="portlet-body overflow-h" id="portletBody">



                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>




        </div>
    </div>
</div>

<script>

    function updateMemberDetails() {

        var posturl = window.location.protocol + "//" + window.location.host + "/Invoice/GetMemberDetails";

        var data = {
            userId: $('#memberDropdownInv').val()
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#reference')[0].innerHTML = "#" + result.id + "@(date)";
                $('#MemName')[0].innerHTML = result.membershipName;
                $('#NumClasses')[0].innerHTML = result.max_bookings + " total classes";
                $('#currentUnitPrice').val(result.price);               
                $('#unitPrice')[0].innerHTML = "R" + result.price.toString() + ".00";
                $('#totalTable')[0].innerHTML = "R" + (result.price * $('#quantity').val()).toString() + ".00";
                $('#subTotal')[0].innerHTML = $('#totalTable')[0].innerHTML;
                $('#total')[0].innerHTML = $('#totalTable')[0].innerHTML;
            },
            async: true,
            processData: false
        });

    }

    function updateQuantity() {
        var unitPrice = parseInt($('#currentUnitPrice').val());
        $('#totalTable')[0].innerHTML = "R" + (unitPrice * $('#quantity').val()).toString() + ".00";
        $('#subTotal')[0].innerHTML = $('#totalTable')[0].innerHTML;
        $('#total')[0].innerHTML = $('#totalTable')[0].innerHTML;
    }

</script>