﻿@using BookingApp.Models;
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Name | @ViewBag.Title </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #7 for dashboard & statistics" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/dashboard.min.js")" type="text/javascript"></script>


    @*<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout7/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.min.css" rel="stylesheet" type="text/css" />*@
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="page-container-bg-solid" id="bodyTop">

    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    @{ 
        string isSuperUser = ApplicationUser.getPropertyValue("SuperUser");
        string isMarshal = ApplicationUser.getPropertyValue("Marshal");
        bool Superuser = bool.Parse((isSuperUser == "" ? "false" : isSuperUser));
        bool Marshal = bool.Parse((isMarshal == "" ? "false" : isMarshal));
    }

    <div class="page-header navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="clearfix">
            <!-- BEGIN BURGER TRIGGER -->
            <div class="burger-trigger">
                <button class="menu-trigger">
                    <img src="@Url.Content("~/Content/img/m_toggler.png")" alt="">
                </button>
                <div class="menu-overlay menu-overlay-bg-transparent">
                    <div class="menu-overlay-content">
                        <ul class="menu-overlay-nav text-uppercase">
                            @{
                                if (Superuser)
                                {
                                    <li>
                                        <a href="~/Dashboard/Dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="~/Classes/Forecast">Manage Classes</a>
                                    </li>
                                    <li>
                                        <a href="~/Members/List">Members</a>
                                    </li>
                                    <li>
                                        <a href="~/Invoice/New">Invoices</a>
                                    </li>
                                    <li>
                                        <a href="~/Settings/List">Settings</a>
                                    </li>
                                }
                                else if (Marshal)
                                {
                                    <li>
                                        <a href="~/Studio/List">Studios</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="~/Dashboard/MemberDash">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="~/Classes/Book">Bookings</a>
                                    </li>
                                    <li>
                                        <a href="~/Achievements/List">Achievements</a>
                                    </li>
                                }
                            }
                            <li>
                                <a href="~/Authentication/Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-bg-overlay">
                    <button class="menu-close">&times;</button>
                </div>
                <!-- the overlay element -->
            </div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li style="padding-right:20px"><h3>@ApplicationUser.getPropertyValue("FullName")</h3></li>
                </ul>
            </div>
        </div>
        <!-- END HEADER INNER -->
    </div>

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <div style="margin-bottom:35px" oninit="funinit();">

        @RenderBody()

    </div>
    <!-- BEGIN FOOTER -->
    <div class="page-footer" style="width:100%; background: white;opacity: 0.9; text-align:right; bottom:0; position:fixed">
        <div class="page-footer-inner container-fluid container-lf-space">
            <p class="page-footer-copyright" style="padding-right:50px">
                Copyright &copy; 2017 - <img src="@Url.Content("~/Content/img/logo.png")" style="max-width:80px; position:inherit" />
            </p>
        </div>
        <div class="go2top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    

    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    @*@Scripts.Render("~/bundles/scripts")*@

    <!-- BEGIN CORE PLUGINS -->
    @*<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>*@
    <!-- END THEME LAYOUT SCRIPTS -->

</body>

</html>