﻿@using Common.Database;
@using Common.Database.Custom_Models;
@using BookingApp.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int studioID = int.Parse(ApplicationUser.getPropertyValue("StudioId"));

    int firstClassId = 0;
}

<!-- BEGIN CONTAINER -->
<div class="page-container page-content-inner page-container-bg-solid">
    <!-- BEGIN CONTENT -->
    <div class="container-fluid container-lf-space margin-top-30">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row widget-bg-color-white no-space margin-bottom-20">
            <div class="col-md-3 col-sm-6 no-space">
                <!-- BEGIN WIDGET SUBSCRIBE -->
                <div class="widget-subscribe widget-subscribe-quote widget-bg-color-blue">
                    <h2 class="widget-subscribe-title widget-title-color-purple-dark text-uppercase">
                        Steps to get
                        <br /> Started
                    </h2>
                    <p class="widget-subscribe-subtitle widget-title-color-purple-light">
                        Follow the steps below to get your classes up and running!
                        <a class="widget-subscribe-subtitle-link" href="#">check out</a>
                    </p>
                </div>
                <!-- END WIDGET SUBSCRIBE -->
            </div>
            <div class="col-md-3 col-sm-6 no-space">
                <!-- BEGIN WIDGET SUBSCRIBE -->
                <div class="widget-subscribe">
                    <span class="widget-subscribe-no">1</span>
                    <h2 class="widget-subscribe-title widget-title-color-gray-dark text-uppercase">
                        Important
                        <br /> Step
                    </h2>
                    <p class="widget-subscribe-subtitle widget-title-color-dark-light">
                        Lorem ipsum dolor asqudiete sit amet dolore diam sediate dolor diam
                        <a class="widget-subscribe-subtitle-link" href="#">learn more</a>
                    </p>
                </div>
                <!-- END WIDGET SUBSCRIBE -->
            </div>
            <div class="col-md-3 col-sm-6 no-space">
                <!-- BEGIN WIDGET SUBSCRIBE -->
                <div class="widget-subscribe widget-subscribe-border">
                    <span class="widget-subscribe-no">2</span>
                    <h2 class="widget-subscribe-title widget-title-color-gray-dark text-uppercase">
                        Second
                        <br /> Step
                    </h2>
                    <p class="widget-subscribe-subtitle widget-title-color-dark-light">
                        Lorem ipsum dolor asqudiete sit amet dolore diam sediate psum dolor asqudiete sediat dolor diam
                        <a class="widget-subscribe-subtitle-link" href="#">learn more</a>
                    </p>
                </div>
                <!-- END WIDGET SUBSCRIBE -->
            </div>
            <div class="col-md-3 col-sm-6 no-space">
                <!-- BEGIN WIDGET SUBSCRIBE -->
                <div class="widget-subscribe widget-subscribe-border-top">
                    <span class="widget-subscribe-no">3</span>
                    <h2 class="widget-subscribe-title widget-title-color-gray-dark text-uppercase">
                        Final
                        <br /> Action
                    </h2>
                    <p class="widget-subscribe-subtitle widget-title-color-dark-light">
                        Lorem ipsum dolor asqudiete sit amet dolore diam sediate dolor diam
                        <a class="widget-subscribe-subtitle-link" href="#">learn more</a>
                    </p>
                </div>
                <!-- END WIDGET SUBSCRIBE -->
            </div>
        </div>





        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:5px; padding-right:5px">
                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                        <h4 class="widget-thumb-heading">Total Members</h4>
                        <div class="widget-thumb-wrap">
                            <i class="widget-thumb-icon bg-blue icon-bar-chart"></i>
                            <div class="widget-thumb-body">
                                <span class="widget-thumb-body-stat" data-counter="counterup" data-value="20">0</span>/ 35
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:5px; padding-right:5px">
                    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                        <h4 class="widget-thumb-heading">Total Members</h4>
                        <div class="widget-thumb-wrap">
                            <i class="widget-thumb-icon bg-green icon-bulb"></i>
                            <div class="widget-thumb-body">
                                <span class="widget-thumb-body-stat" data-counter="counterup" data-value="20">0</span>/ 35
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                    <div class="portlet-title margin-bottom-20">
                        <div class="caption caption-md font-blue">
                            <span class="caption-subject theme-font bold uppercase">Today's Classes</span>
                        </div>
                    </div>
                    <div class="portlet-body overflow-h" id="portletBody">
                        <div class="row">

                            @{
                                IEnumerable<Class_custom> classes = Common.Class.getClassesForDay(DateTime.Today.ToString("yyyy-MM-dd"), studioID);

                                if (classes.Count() != 0)
                                {
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                                        @{

                                            int counter = 0;

                                            foreach (Class_custom clas in classes)
                                            {
                                                <div class="col-md-12" style="padding-bottom:10px">
                                                    <div id="tile_@(counter)" class="tile bg-blue-steel" style="width: 50px; height: 50px; border-radius: 50%;">
                                                        <a style="text-decoration:none" href="javascript:toggleColour(tile_@(counter), tile_text_@(counter), @classes.Count(), @clas.id)">
                                                            <div class="tile-object" style="padding-top: 7px;text-align: center;">
                                                                <h4 id="tile_text_@(counter)" class="name" style="font-size:15px; color:white"> @clas.time.ToString(@"hh\:mm") </h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                                if (counter == 0)
                                                {
                                                    firstClassId = clas.id;
                                                }

                                                counter++;
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-8">
                                        <div id="classList">



                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p style="font-size: 18px;color: palevioletred">No classes today &nbsp; &nbsp;                                           
                                            <a href="~/Classes/Forecast" class="btn btn-sm green" style="background-color:#5b9bd1; border-color:#5b9bd1">
                                                <i class="fa fa-plus"></i>
                                                Add Now                                               
                                            </a>
                                        </p>

                                    </div>
                                }

                            }

                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>


        @{

            IEnumerable<UserSummary_custom> members = Common.User.getSummary(studioID);

            if (members.Count() != 0)
            {
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light tasks-widget widget-comments" style="min-height:0px">
                            <div class="portlet-title margin-bottom-20">
                                <div class="caption caption-md font-blue">
                                    <span class="caption-subject theme-font bold uppercase">Monthly Summary</span>
                                </div>
                            </div>
                            <div class="portlet-body overflow-h" id="portletBody">
                                <div class="row">

                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead style="background-color: #5b9bd1;">
                                                    <tr>
                                                        <th scope="col" class="uppercase" style="font-size:15px"> Member </th>
                                                        <th scope="col" class="uppercase" style="font-size:15px"> Membership </th>
                                                        <th scope="col" class="uppercase" style="font-size:15px"> Booked Classes </th>
                                                        <th scope="col" class="uppercase" style="font-size:15px"> Available Classes </th>
                                                        <th scope="col" class="uppercase" style="font-size:15px"> Amount Owed </th>
                                                        <th scope="col" class="uppercase" style="font-size:15px"> Paid </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @{
                                                        foreach (UserSummary_custom member in members)
                                                        {
                                                            <tr>
                                                                <td> @member.name @member.surname </td>
                                                                <td> @member.membershipName </td>
                                                                <td style="text-align:right; background-color:@(member.bookingsMade < member.max_bookings ? "palegreen": "#ff8282" )"> @member.bookingsMade </td>
                                                                <td style="text-align:right"> @member.max_bookings </td>
                                                                <td style="text-align:right"> R@(member.price).00 </td>
                                                                <td style="text-align:center">
                                                                    <label>
                                                                        <input type="checkbox" class="icheck" data-checkbox="icheckbox_flat-blue">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>
            }

        }




        <script>

            $(document).ready(function () {
      
                if (@firstClassId!=0) {
                    $('#tile_0')[0].className = "tile bg-grey";
                    $('#tile_text_0')[0].style.color = "black";

                    $("#portletBody").block({
                        message: '<h4>Hang on..</h4>',
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        },
                        overlayCSS: { backgroundColor: '#EFEFEF' }
                    }); 
                    $("#classList").load("RefreshClasses", { classID: @firstClassId });
                    $("#portletBody").unblock();
                }

            });

            function toggleColour(tile, tileText, counter, classId) {

                //change them all to blue first
                for (var x = 0; x < counter; x++) {
                    $('#tile_' + x.toString())[0].className = "tile bg-blue-steel";
                    $('#tile_text_' + x.toString())[0].style.color = "white";
                }

                //change clicked tile to selected colours
                tile.className = "tile bg-grey";
                tileText.style.color = "black";


                $("#portletBody").block({
                    message: '<h4>Hang on..</h4>',
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    },
                    overlayCSS: { backgroundColor: '#EFEFEF' }
                }); 
                $("#classList").load("RefreshClasses", { classID: classId });
                $("#portletBody").unblock();

            }

        </script>
















       

        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


