﻿
@{
    ViewBag.Title = "MemberDash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container page-content-inner page-container-bg-solid">
    <div class="container-fluid container-lf-space margin-top-30">
        <div class="row widget-row">

            <div class="row">
                <div class="col-lg-12" style="text-align:center; margin-bottom:60px; margin-top:60px">
                    <h1>Studio Name Here</h1>
                </div>
            </div>

            <div class="row">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-body">

                    <div class="row" style="padding-bottom:25px">
                        <div style="text-align:center">
                            <img src="@Url.Content("~/Content/img/achievements/newborn.png")" style="width:60%; max-width:200px; position:inherit" />
                            <br />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-xs-2">

                        </div>
                        <div class="col-md-8 col-xs-8">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only"> 20% Complete </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2">

                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light" style="height:300px">
                        <div class="portlet-title">
                            <div class="caption">
                                <h4>Your Schedule</h4>
                            </div>
                        </div>
                        <div class="portlet-body">

                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>

</div>

