﻿@using Models;
@using Common.Database.Custom_Models;
@model ClassListModel



<div class="mt-title">
    <h4 class="mt-content-title"><b>@Model.ClasssName</b></h4>
</div>
<div class="mt-author">
    <div class="mt-author-datetime font-grey-mint">@DateTime.Today.ToString("dd MMMM yyyy")</div>
</div>
<hr />
<div class="clearfix"></div>
<div class="mt-content border-grey-steel">

    @{
        if (Model.Bookings.Count() == 0)
        {
            <p style="color:orangered"><i>No attendees for this class</i></p>
        }
        else
        {
            foreach (Booking_custom booking in Model.Bookings)
            {
                <p>@booking.name @booking.surname</p>
            }
        }

        if (Model.WaitingList.Count() != 0)
        {
            <hr />
            <p><b>Waiting List:</b></p>

            foreach (WaitingList_Custom person in Model.WaitingList)
            {
                <p>@person.name @person.surname</p>
            }

        }

    }


</div>
